.logout-icon {
    font-size: 35px;
    cursor: pointer;
    float:right;
    cursor: pointer;
  }
  
  .user-login {
    font-size: 15px;
    float:right;
    padding-right: 30px;
  }
  
  .logo {
    background: white;
    cursor: pointer;
    padding: 4px;
    border-radius: 25px;
  }
  