<form>
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput placeholder="code">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="code">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Destination">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Departure Time">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Return Time">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <textarea matInput placeholder="Additional Information"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox>With SK Discount</mat-checkbox>
    </div>
  </div>
</form>