@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background: #0fdb00;
}

.toast-error {
  background: #ff0900;
}

.mat-form-field {
  width: 100% !important;
}

.mat-dialog-content {
  overflow-x: hidden !important;
}

body {
  background: #e9ebee;
} 
